* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  padding: 50px;

  .card {
    display: flex;
    min-height: 80vh;
    width: 80%;
    max-width: 1400px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    .left {
      width: 50%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .left__headline {
        font-size: calc(20px + 1vw);
        color: #151515;
      }

      .left__section {
        width: 100%;
        border-radius: 10px;
        padding: 25px 25px 0 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;

        .left__title {
          color: #555555;
          font-size: 16px;
        }

        .left__value {
          font-size: 16px;
          font-weight: 900;
        }

        &:nth-child(2) {
          padding:  25px;
          .left__title {
            margin-bottom: 15px;
          }
        }
        input[type="range"] {
          -webkit-appearance: none;
          //margin-right: 15px;
          width: calc(100% + 50px);
          margin: 0;
          height: 5px;
          background: rgba(255, 255, 255, 0.6);
          border-radius: 5px;
          //background-image: linear-gradient(#ff4500, #ff4500);
          //background-size: 70% 100%;
          background-repeat: no-repeat;
          display: block;
          position: relative;
          top: 25px;
          left: -25px;
        }

        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: #ff5e7c;
          cursor: pointer;
          box-shadow: 0 0 2px 0 #555;
          transition: background .3s ease-in-out;
          outline: 4px solid #ffffff;
          outline-offset: -12px;
          position: relative;
          top: -7px;
        }

        input[type=range]::-webkit-slider-runnable-track  {
          -webkit-appearance: none;
          box-shadow: none;
          border: none;
          background: #ff5e7c;
          border-radius: 5px;
          width: 100%;
          height: 4px;
          position: relative;
        }

        .custom-select {
          width: calc(100% + 50px);
          position: relative;
          left: -25px;
          font-family: Montserrat, sans-serif;
        }

        .custom-select select {
          display: none; /*hide original SELECT element: */
        }

        .select-selected {
          background-color: transparent;
          color: #f9f9f9;
        }
        .select-items div,.select-selected {
          color: #141414;
          font-weight: 800;
          cursor: pointer;
          padding: 25px;
        }
        .select-items {
          position: absolute;
          background-color: #ffffff;
          top: 100%;
          left: 0;
          right: 0;
          z-index: 99;
        }
        .select-hide {
          display: none;
        }
        .select-items .same-as-selected {
          color: #ffffff;
        }
        .select-items div{
          font-weight: 500;
        }
        .select-items div:hover, .same-as-selected {
          background-color: #ff5e7c;
          color: #ffffff;
        }
      }
    }

    .right {
      width: 50%;
      padding: 50px;
      background: #f0f0f0;
      border-radius: 0 20px 20px 0;

      .right__headline {
        font-size: calc(15px + 1vw);
        color: #151515;
        margin-bottom: 20px;
      }

      .right__price {
        font-size: calc(35px + 1vw);
        font-weight: 900;
        color: #151515;
        margin-bottom: 25px;
      }

      .right__section {
        margin-top: 25px;
      }

      .right__title {
        color: #555555;
        font-size: 16px;
        margin-bottom: 10px;
      }

      .right__value {
        font-weight: 800;
        font-size: 18px;
      }
    }
  }
}